.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.container h2 {
    text-transform: uppercase;
    color: #000000;
}