.container {
    width: 150px;
    position: absolute;
    top: 70px;
    right: 8%;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
}

.container div {
    margin-bottom: 20px;
}