.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 150px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 50px;
}

.container div:not(.buttons) {
    margin-bottom: 20px;
}

.container .buttons {
    display: flex;
}