.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 8px;
    padding: 50px;
}

.container h2 {
    text-transform: uppercase;
}

.form {
    display: flex;
    flex-direction: row;
}

.container .col {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.buttons {
    margin-top: 40px;
}

.title {
    margin-bottom: 40px;
}

.row {
    display: flex;
    align-items: center;    
}

.imageBtn {
    width: 150px;
    background-color: #ffffff;
}

.imageContainer {
    box-shadow: 2px 2px 5px 1px #0000005b;
    border-radius: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
}

.imageContainer img {
    width: 180px;
    height: 180px;
}