.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 8px;
    padding: 50px;
}

.container img {
    width: 200px;
    height: 200px;
}

.container h2 {
    text-transform: uppercase;
}

.form {
    display: flex;
    flex-direction: row;
}

.container .col {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.buttons {
    margin-top: 40px;
}

.title {
    margin-bottom: 40px;
}

.row {
    display: flex;
    align-items: center;    
}

.imageBtn {
    width: 150px;
    background-color: #ffffff;
}