.container {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 8px;
    padding: 50px;
    position: relative;
}

.container h2,
.container h4 {
    margin: 10px;
}

.container h2 {
    text-transform: uppercase;
}

.buttons {
    display: flex;
    margin-top: 10px;
}