.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.init {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 30vh;
  }

  .init h2 {
    text-transform: uppercase;
    margin-bottom: 10px;
  }