.container {
    background-color: #ffffff;
    color: #797979;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 2px #00000033;
    font-weight: 600;
    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 84vw;
    bottom: 0;
    left: 0;
    height: 50px;
    padding: 10px 8%;
}

ul {
    display: flex;
}

li {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-right: 15px;
    transition: 200ms;
    border-bottom: 1px solid #ffffff;
}

li:hover {
    border-bottom: 1px solid #000000;
    transition: 200ms;
}

.active {
    color: #000000;
    font-weight: 800;
}