.container {
    background-color: #ffffff;
    color: #797979;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 2px #0000003a;
    border-top: 2px solid #00000041;
    font-weight: 600;
    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 84vw;
    bottom: 0;
    left: 0;
    padding: 10px 8%;
    z-index: 1;
}

ul {
    display: flex;
}

li {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin: 0 20px;
    transition: 200ms;
    transform: scale(0.95);
}

li:hover {
    transition: 200ms;
    transform: scale(1.05);
}

.active {
    color: #000000;
    font-weight: 800;
}

.container img {
    width: 18px;
    margin-right: 6px;
}